body{
    background: #5ed1ff;
    background: linear-gradient(86deg, rgba(94,209,255,1)0%,rgba(235,235,235,1)57%);
}
p>a{
    text-decoration: none;
}
.divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.divider::before,
.divider::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.divider:not(:empty)::before{
    margin-right: .75em;
}
.divider:not(:empty)::after{
    margin-left: .75em;
}
